ul{display:flex;gap:18px;list-style:none;padding:0;margin:36px;justify-content:center}li a{border:1px solid #000;border-radius:4px;padding:12px;text-decoration:none;color:#000}li a:hover{color:#1d1fbb;background-color:#e3efff}
